@media (max-width: 1600px) {
    .footer__left {
        margin-right: 133px;
    }

    .footer__medium {
        margin-right: 133px;
    }

    .about-us__text {
        margin-right: 110px;
    }
}

@media (max-width: 1440px) {
    .footer__left {
        margin-right: 53px;
    }

    .footer__medium {
        margin-right: 53px;
    }

    .about-us__text {
        margin-right: 90px;
    }
}

@media (max-width: 1200px) {

    .container {
        padding: 0 50px;
    }

    .header__container {
        padding: 26px 50px;
    }

    .header__logo img {
        width: 150px;
        height: 48px;
    }

    .about-us__bottom {
        gap: 32px;
    }

    .about-us__content {
        justify-content: space-between;
    }

    .about-us__left {
        width: 100%;
        min-height: 640px;
    }

    .about-us__right {
        width: 100%;
    }

    .questions__list {
        flex-direction: column;
    }

    .questions__item {
        width: 100%;
    }

    .footer__text {
        display: none;
    }

    .footer__container {
        justify-content: space-between;
    }

    .footer__medium {
        margin-right: 0;
    }

    .header__list {
        gap: 60px;
    }
    
    .slogan__title {
        font-size: 60px;
    }
    
    .slogan__descr {
        font-size: 20px;
    }

}

@media (max-width: 992px) {
    .container {
        padding: 0 50px;
    }

    .header__container {
        padding: 17px 50px;
    }
    
    .header__logo img {
        width: 110px;
        height: 35px;
    }

    .header__list {
        gap: 40px;
        margin-right: 43px;
    }

    .slogan__title {
        font-size: 60px;
    }

    .slogan__descr {
        font-size: 20px;
    }

    .footer__nav {
        display: none;
    }

    .footer__left {
        order: 2;
    }

    .footer__right {
        order: 1;
    }

    .footer__container {
        gap: 50px;
    }

    .stages__img {
        order: 1;
    }

    .stages__content {
        flex-direction: column;
        gap: 38px;
    }

    .stages__content img {
        width: 100%;
        order: 1;
    }

    .stages__left {
        width: 100%;
        order: 2;
    }
}


@media (max-width: 768px) {
    .slogan__container {
        padding: 160px 40px;
    }

    .slogan__title {
        font-size: 50px;
    }

    .slogan__descr {
        font-size: 18px;
    }

    .about-us__text {
        margin-right: 47px;
    }

    .about-us__feature--top {
        padding: 35px 46px;
    }

    .about-us__feature--bottom {
        padding: 35px 40px;
    }

    .questions__item {
        padding: 35px 40px;
    }

    .footer__form {
        max-width: 500px;
    }

    .footer__inputs {
        max-width: 500px;
    }

    .footer__btn {
        padding: 19px 18px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 17px 15px 40px 15px;
    }

    .header {
        margin-bottom: 20px;
    }

    .header__container {
        row-gap: 20px;
    }

    .header__btn {
        order: 1;
    }

    .header__nav {
        order: 2;
    }

    .header__list {
        gap: 24px;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .header__link {
        font-size: 16px;
    }

    .slogan {
        margin-bottom: 0;
    }

    .slogan__container {
        align-items: center;
        justify-content: center;
        padding: 60px 21px;
    }

    .slogan__title {
        text-align: center;
        font-size: 20px;
    }

    .slogan__descr {
        text-align: center;
        font-size: 12px;
        margin-bottom: 32px;
    }

    .slogan__btn {
        font-size: 12px;
        padding: 13px 28px;
    }

    .about-us__top {
        margin-bottom: 14px;
    }

    .about-us__left {
        max-width: 290px;
        min-height: 200px;
        background-size: 290px 200px;
    }

    .about-us__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .about-us__descr {
        max-width: 290px;
        font-size: 14px;
    }

    .about-us__content {
        overflow: hidden;
        display: none;
    }

    .about-us__img {
        max-width: 64px;
        max-height: 64px;
    }

    .about-us__feature {
        border: none;
        flex-direction: column;
        padding: 0;
        gap: 12px;
    }

    .about-us__subtitle {
        font-weight: 500;
        font-size: 18px;
    }

    .about-us__text {
        font-weight: 400;
        font-size: 14px;
    }

    .about-us {
        margin-bottom: 40px;
    }

    .stages {
        padding: 0;
    }

    .stages__btn--more {
        font-size: 12px;
        padding: 12px 35px;
        margin-right: 10px;
    }

    .stages__btn--contract {
        font-size: 12px;
        padding: 12px 32px;
    }

    .questions {
        margin-bottom: 40px;
    }

    .questions__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .questions__list {
        gap: 32px;
    }

    .questions__item {
        border: none;
        padding: 0;
    }

    .questions__subtitle {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 18px;
    }

    .questions__text {
        font-weight: 400;
        font-size: 14px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .footer__medium {
        gap: 20px;
    }

    .footer__subtitle {
        font-weight: 400;
        font-size: 24px;
    }

    .footer__form {
        max-width: 290px;
    }

    .footer__input {
        padding: 14px 20px;
        font-size: 14px;
    }

    .footer__textaria {
        font-size: 14px;
        padding: 14px 20px 104px 20px;
    }

    .footer__submit {
        flex-direction: column;
    }

    .footer__btn {
        padding: 12px 19px;
        font-size: 12px;
    }

    .footer__checkbox-text {
        font-size: 16px;
    }
}
