html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

.container {
    max-width: 1920px;
    padding: 0 75px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/fonts/MontserratRegular.woff2') format('woff2'),
        url('/fonts/MontserratRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('/fonts/MontserratMedium.woff2') format('woff2'),
        url('/fonts/MontserratMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('/fonts/MontserratSemiBold.woff2') format('woff2'),
        url('/fonts/MontserratSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/fonts/MontserratBold.woff2') format('woff2'),
        url('/fonts/MontserratBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('/fonts/MontserratExtraBold.woff2') format('woff2'),
        url('/fonts/MontserratExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-footer: #cacaca;
    --background-btn: #f90;
}

/* header */

.header {
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}


.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__logo {
    margin-right: auto;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
    margin-right: 85px;
}

.header__link {
    position: relative;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--color-black);
}

.header__link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    z-index: 1;
    background-color: #f90;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out ;
}

.header__link:focus {
    outline: 2px solid #f90;
    outline-offset: 3px;
}

.header__link:hover::before {
    opacity: 1;
    width: 100%;
}

.header__link:active {
    outline: none;
    color: #e1670e;
}

.header__link:active::before {
    background-color: #e1670e;
}

.header__btn {
    cursor: pointer;
}

.header__btn path {
    stroke: black;
    transition: stroke 0.3s ease-in-out;
}

.header__btn:focus {
    outline: 2px solid #f90;
    outline-offset: 3px;
}

.header__btn:hover path {
    stroke: #FF9900;
}

.header__btn:active path {
    stroke: black;
    outline: none;
}

.header__btn:active {
    outline: none;
}

.header__btn rect {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

.header__btn:hover rect {
    fill: #FF9900;
}

.header__btn:active rect {
    fill: black;
}


/* slogan */

.slogan {
    margin-bottom: 50px;
}

.slogan__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 100px 80px;
}

.slogan__container {
    background-image: url("/img/slogan-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan__title {
    max-width: 837px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 70px;
    color: var(--color-white);
    margin-bottom: 24px;
}

.slogan__descr {
    max-width: 790px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 90px;
}

.slogan__btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: var(--color-white);
    border-radius: 16px;
    padding: 18px 37px;
    background-color: var(--background-btn);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.slogan__btn:focus {
    background-color: #ffb84d;
}

.slogan__btn:hover {
    background-color: #ffb84d;
}

.slogan__btn:active {
    background-color: #e1670e;
}


/* about-us */

.about-us {
    margin-bottom: 100px;
}

.about-us__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-us__bottom {
    display: flex;
    flex-wrap: wrap;
    --offsets: 1;
    --gap: 30px;
    gap: var(--gap);
}

.about-us__left {
    width: calc((100% - var(--gap)) / (var(--offsets) + 1));
    display: flex;
    align-items: end;
}

.about-us__left {
    background-image: url("/img/about-us-left.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

.about-us__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 32px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-us__text {
    flex: 1;
    max-width: 433px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    margin-right: 160px;
}

.about-us__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-white);
    border: 3px solid var(--background-btn);
    border-radius: 16px;
    padding: 19px 38px;
    transition: background-color 0.3s ease-in-out;
}

.about-us__link:focus {
    background-color: #f90;
}

.about-us__link:hover {
    background-color: #f90;
}

.about-us__link:active {
    background-color: #e1670e;
}

.about-us__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: calc((100% - var(--gap)) / (var(--offsets) + 1));
}

.about-us__top {
    margin-bottom: 50px;
}

.about-us__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.about-us__descr {
    max-width: 1235px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black);
}

.about-us__feature {
    display: flex;
    border: 1px solid var(--color-footer);
    border-radius: 32px;
    gap: 50px;
    padding: 65px 60px;
}

.about-us__img {
    object-fit: contain;
}

.about-us__feature-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-us__subtitle {
    max-width: 452px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-black);
}

.about-us__feature-text {
    max-width: 450px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black);
}


/* stages */

.stages {
    padding-bottom: 85px;
    margin-bottom: 15px;
}

.stages__content {
    display: flex;
    --gap: 142px;
    --offsets: 2;
    gap: var(--gap);
}

.stages__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.stages__left {
    width: calc((100% - var(--gap)) / var(--offsets));
}

.stages__img {
    width: calc((100% - var(--gap)) / var(--offsets));
}

.stages__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: var(--color-black);
    margin-bottom: 8px;
}

.stages__descr {
    max-width: 758px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: var(--color-black);
    margin-bottom: 18px;
}

.stages__btn--more {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-white);
    border-radius: 16px;
    padding: 19px 38px;
    background-color: var(--background-btn);
    margin-right: 32px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.stages__btn--more:focus {
    background-color: #ffb84d;
}

.stages__btn--more:hover {
    background-color: #ffb84d;
}

.stages__btn--more:active {
    background-color: #e1670e;
}

.stages__btn--contract {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 16px;
    padding: 19px 38px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.stages__btn--contract:focus {
    border: 1px solid #666;
    background-color: #666;
    color: #fff;
}

.stages__btn--contract:hover {
    border: 1px solid #666;
    background-color: #666;
    color: #fff;
}

.stages__btn--contract:active {
    background-color: #000;
    color: #fff;
}


/* questions */

.questions {
    margin-bottom: 100px;
}

.questions__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.questions__list {
    display: flex;
    flex-wrap: wrap;
    --gap: 32px;
    --offsets: 2;
    gap: var(--gap);
}

.questions__item {
    width: calc((100% - (var(--gap) * 2)) / (var(--offsets) + 1));
    padding: 65px 60px;
    border: 1px solid var(--color-footer);
    border-radius: 32px;
}

.questions__subtitle {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-black);
}

.questions__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-black);
}

/* footer */

.footer {
    padding: 50px 0;
    background-color: var(--color-black);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__left {
    margin-right: 349px;
}

.footer__img {
    margin-bottom: 20px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.footer__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: var(--color-footer);
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:focus {
    outline: 2px solid #f90;
    outline-offset: 3px;
}

.footer__link:hover {
    color: #f90;
}

.footer__link:active {
    outline: none;
    color: #e1670e;
}

.social__list {
    display: flex;
    gap: 25px;
}

.social__link path {
    fill: #666;
    transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.social__link:focus {
    outline: 2px solid #f90;
    outline-offset: 3px;
}

.social__link:hover path{
    fill: #FF9900;
}

.social__link:active path{
    fill: #E1670E;
}

.social__link:active{
    outline: none;
}

.footer__medium {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin-right: 236px;
    gap: 25px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__subtitle {
    width: 570px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-footer);
}

.footer__inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__input {
    border-radius: 16px;
    background-color: #414141;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-footer);
    padding: 14px 24px;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__input:focus {
    outline: none;
    border: none;
    background-color: #666;
}

.footer__input:hover {
    outline: none;
    border: none;
    background-color: #666;
}

.footer__input:active {
    color: #fff;
}

.footer__textarea {
    border-radius: 16px;
    background-color: #414141;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--color-footer);
    padding: 14px 24px 104px 24px;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__textarea:focus {
    outline: none;
    border: none;
    background-color: #666;
}

.footer__textarea:hover {
    outline: none;
    border: none;
    background-color: #666;
}

.footer__textarea:active {
    color: #fff;
}

.footer__submit {
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer__btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 16px;
    padding: 19px 52px;
    background-color: var(--background-btn);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
    background-color: #ffb84d;
}

.footer__btn:hover {
    background-color: #ffb84d;
}

.footer__btn:active {
    background-color: #e1670e;
}

.footer__checkbox-text {
    position: relative;
    padding-left: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-footer);
}

.footer__checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  transform: translateY(-50%);
}

.footer__checkbox-text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  background-image: url("/img/footer-checkbox.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.footer__input--checkbox:checked + .footer__checkbox-text::after {
  opacity: 1;
}

.footer__input--checkbox:focus + .footer__checkbox-text {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.footer__checkbox {
    user-select: none;
    cursor: pointer;
}

.footer__input--checkbox {
  position: absolute;
  appearance: none;
}

.footer__text {
    max-width: 363px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: var(--color-footer);
}







