html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'MontserratRegular';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/fonts/MontserratRegular.woff2') format('woff2'),
        url('/fonts/MontserratRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratMedium';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('/fonts/MontserratMedium.woff2') format('woff2'),
        url('/fonts/MontserratMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('/fonts/MontserratSemiBold.woff2') format('woff2'),
        url('/fonts/MontserratSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/fonts/MontserratBold.woff2') format('woff2'),
        url('/fonts/MontserratBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('/fonts/MontserratExtraBold.woff2') format('woff2'),
        url('/fonts/MontserratExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

